// / The container /
.filter-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

// / Hide the browser's default checkbox /
.filter-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
 
}

// / Create a custom checkbox /
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: $col-white;
   border:2px solid $border-gray;
   
  border-radius:3px
}

// / On mouse-over, add a grey background color /
.container:hover input ~ .checkmark {
  background-color: $col-white;
}

// / When the checkbox is checked, add a blue background /
.container input:checked ~ .checkmark {
  background-color: $col-white;
  border:solid $primary-brand;
  border-width:2px;
  
  
  
}

// / Create the checkmark/indicator (hidden when not checked) /
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

// / Show the checkmark when checked /
.filter-container input:checked ~ .checkmark:after {
  display: block;
  
  
}

// / Style the checkmark/indicator /
.filter-container .checkmark:after {
  left: 13px;
  top:-7px;
  width: 4px;
  height: 20px;
  border: solid $primary-brand;
  z-index:2;
  
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}