.color {
    display:inline;
   
}


.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 40px;
    background-color: $col-red;
    border: 2px solid $border-gray;
    border-radius: 3px;
}
// / The container /
.filter-container2 {
    
  width: 60px;
  height: 40px;
  border-radius: 6px;
  display: inline-flex;
  margin-right: 2px;
  //padding-bottom: 16px;
  
  }
   .filter-color{
    padding-bottom: 16px;
   }

   .gradient{
       color:transparent linear-gradient(180deg, #AF52FF 0%, #7950E8 16%, #4F5ADA 29%, #57CB76 43%, #EBC250 56%, #FF8810 69%, #E32F0F 83%, #BF1919 100%) 0% 0% no-repeat padding-box;
   }
  
    
  
  
  
  
  