//font.css

$font1-style:normal normal normal 16px/24px Muli;
$font2-style:normal normal 600 16px/24px Muli;
$font3-style:normal normal 600 48px/60px Source Serif Pro;
$font4-style: normal normal bold 18px/20px Muli;
$font5-price: normal normal 600 16px/20px Muli;
$font6-style:normal normal normal 14px/18px Muli;
$font7-style:normal normal normal 14px/18px Proxima Nova;
