.header {
    padding-top: 4.9rem;
}

.hero-container {
    background-color: $black-2;
    color: $col-white;
    justify-content: center;
    padding: 9.5rem;
    display:flex;
    flex-direction: column;
    height:30rem;

   h1{ 
       font: normal normal 600 3.6rem/4.2rem Source Serif Pro;}

}

.hero-image {
    height: 30rem;
    padding: 1.6rem 0;
    width: 100%;
}
 .subheader {
    visibility: hidden;
    font: normal normal 600 3.6rem/4.2rem Source Serif Pro;

}

.bar {
    width: 10.2rem;
    height: .8rem;
    background-color: $primary-brand;
    margin: 0 auto;
    border:none
}

@media(min-width: 320px) and (max-width: 767px)  {
    .subheader{
        visibility: visible;
        
    }
    .header{
        padding-top: 0;
        display:flex;
        flex-direction: column-reverse;
        
    }
    
    .hero-container{
        margin: -5.9rem 4rem 0;
        height: -1vh;
        width: 80vw !important;
    }
    .hero-image {
        padding: 0 ;
        width: 100%;
        height:17rem;
    }
}
