


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
}
hr{
    border: .1rem solid #e5e5e7;
}
.bold{
    border: .2rem solid #e5e5e7;
}
//.body-container.css

.body-container {
    padding-top: 4.5rem;
    text-align: left;
    display: flex;

    select {
        margin-left: auto;
        border-radius: .5rem;
        padding: .5rem;
    }

}