@import './var';

nav {
    padding-top: 1.6rem;
    top: 0;
    position: sticky;
    place-items: center;
    padding-bottom: 1.6rem;
    z-index: 1;
    background-color: $col-white;
    border-bottom: .2rem solid $gray-l1;

    .logo-align {
        display: flex;

    }

    ul {
        list-style-type: none;
        text-align: right;
    }

    ul li {
        display: inline;
        padding-right: 0rem;
        padding-left: 3.2rem;
        padding-top: 1.4rem;
        height: 2rem;
        font-style: normal normal 600 1.6rem/2.4rem Muli;
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 0rem;
        color: $black-2;
        opacity: 1;

        a {
            text-align: right;
        }

        .img-1 {
            width: 2.4rem;
            height: 2.4rem;
            padding-right: .8rem;
        }

        .img-2 {
            width: 2.1rem;
            height: 2.2rem;
            padding-right: .8rem;
        }

        .img-3 {
            width: 2.2rem;
            height: 2.4rem;
            padding-right: .8rem;

        }
    }

    .toggle {
        padding-top: 1.8rem;
        padding-left: 1.8rem;
    }

    .hamburger {
        // removes default border on button element
        border: 0;
        height: 4rem;
        width: 4rem;
        padding: 0.05rem;
        border-radius: 50%;
        background-color: $col-white;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        // positions the icon to the right and center aligns it vertically
        // position: absolute;
        top: 35%;
        right: 2.5rem;
        transform: translateY(-50%);
        display: none;
    }

    // .hamburger:hover {
    //     background-color: #2642af;
    // }

    @media (min-width: 32rem) and (max-width: 76.7rem) {
        .hamburger {
            display: block;

        }

        .logo {
            padding-left: 9.6rem;
        }

        .main-menu {
            display: none
        }

        .sign-in {
            float: right;
            display: contents;

            li {
                padding-right: 1.2rem;
            }

            span {
                display: none;
            }

            .Signin {
                display: none;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .sign-in {
        span {
            display: none
        }

        .img-2 {
            display: none;
        }
       
    }
}

// @media screen and (max-width: 768rem) {
//     .hamburger {
//       display: block;
//     }
//     ul{
//         display: none;
//     }
//   }