@import './var';
nav {
    padding-top: 16px;
    
    place-items: center;
    padding-bottom: 16px;
    .logo-align{
        display:flex;
        
    }

    ul {
        list-style-type: none;
        text-align: right;
    }

    ul li {
        display: inline;
        padding-right: 0px;
        padding-left: 32px;
        padding-top: 14px;
        height: 20px;
        font-style: normal normal 600 16px/24px Muli;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0px;
        color: $black-2;
        opacity: 1;

        a {
            text-align: right;
        }

        .img-1 {
            width: 24px;
            height: 24px;
            padding-right: 8px;
        }

        .img-2 {
            width: 21px;
            height: 22px;
            padding-right: 8px;
        }

        .img-3 {
            width: 22px;
            height: 24px;
            padding-right: 8px;

        }
    }
    .toggle{
        padding-top: 18px;
        padding-left: 18px;
    }
    .hamburger {
        // removes default border on button element
        border: 0;
        height: 40px;
        width: 40px;
        padding: 0.5rem;
        border-radius: 50%;
        background-color:white;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
      // positions the icon to the right and center aligns it vertically
        // position: absolute;
        top: 35%;
        right: 25px;
        transform: translateY(-50%);
        display: none;
      }
      .hamburger:hover {
        background-color: #2642af;
      }
      @media (min-width: 320px) and (max-width: 767px) {
        .hamburger {
                  display: block;
                  
                }
                .logo{
                    padding-left: 96px;
               }
         .main-menu {
             display:none
         }       
         .sign-in  {
            float:right;
            display: contents;
            li{
                padding-right: 12px;
            }
            span{
                display: none;
            }
            .Signin{
                display: none;
            }
        }
    }
}

// @media screen and (max-width: 768px) {
//     .hamburger {
//       display: block;
//     }
//     ul{
//         display: none;
//     }
//   }