//sidenav.css
.sidenav {
    padding-top: 6.8rem;
    text-align: left;
    color: $col-dark-gray;
    padding-right: 3.7rem;

    p {
        font: normal normal normal 1.6rem/2.4rem Muli;
    }


    h6 {
        font: normal normal normal 2rem/1.4rem Muli;

        color: $col-dark-gray;
        padding-top: 1.5rem;
        padding-bottom: 1.7rem;

        a {
            text-decoration: underline;

        }

        .filter {
            font-size: 2rem;
            padding-top: 3.5rem;
            padding-bottom: 1.6rem;
        }
    }

    hr {
        padding-left: 1rem;
    }

    label {
        font-size: 1.6rem;

        span {
            padding: .5rem;
        }
    }

    .option {
        padding: 1.7rem 0;
    }


}