.main {
    padding: 33px 100px 30px 100px;

}

.single {

    img {
        width: 100%;
        height: 120px;
        // border: 1px solid gray;
        padding: 0 17px 16px 0;

    }

    .down {
        padding: 0 43px 83px 29px;

    }

}

.full-image {
    img {
        width: 100%;
        height: 680px;
        padding-right: 33px;
    }

}

.detail-info {
    text-align: left;


    h3 {
        font: normal normal 600 36px/45px Source Serif Pro;
        letter-spacing: 0px;
        color: $col-black;
    }

    .checked {
        width: 16px;
        height: 15px;
        padding: 1px;

    }

    p span {
        text-decoration: underline;
    }

    .descrition {
        padding-bottom: 16px;
    }



    .color {
        .img-color span {
            padding-right: 16px;
        }

        .add-sub {
            text-align: left;

        }



        .cart-add {
            width: 318px;
            height: 40px;
            /* UI Properties */
            background: var(--primary-brand) 0% 0% no-repeat padding-box;
            background: $primary-brand 0% 0% no-repeat padding-box;
            border-radius: 28px;
            border: none;
            margin-top: 40px;

            a {
                color: $col-white;
                text-decoration: none;
            }
        }

        .size {
            span {
                padding-right: 1.6rem;
            }

            button {
                width: 5.4rem;
                height: 4rem;
                border: 2px solid var(--gray-m1);
                background: $col-white 0% 0% no-repeat padding-box;
                border: 2px solid #91959C;
                border-radius: 6px;
                text-align: center;
                font: normal normal 600 16px/20px Muli;
                letter-spacing: 0.32px;
                color: $gray-3;
            }

            .like-share img {
                width: 18px;
                height: 16px;
            }
        }

        h6 {
            padding: 16px 0;
            font: normal normal 600 20px/30px Muli;
            letter-spacing: 0px;
            color: $col-black;
        }

        img {
            //     width: 64px;
            //     height: 40px;
            border-radius: 5px;
        }

        .image1 {
            background-color: $primary-L1;
        }

        .image2 {
            background-color: $col-pink;
        }

        .image3 {
            background-color: $col-black;
        }

        .image4 {
            background-color: $border-gray;
        }

        .like-share {
            padding-left: 78px;
            padding-top: 24px;
            letter-spacing: 0.32px;
            font: normal normal 600 16px/20px Muli;

            .heart img {
                width: 18px;
                height: 18px;
            }

            .share img {
                width: 20px;
                height: 18px;
                margin-left: 32px;

            }
        }
    }



}

.description-product {
    text-align: left;

    p {
        font: normal normal normal 16px/24px Muli;
        letter-spacing: 0px;
        color: $col-black;
    }

    ul li {
        list-style-type: none;
        font: normal normal 600 16px Muli;
        letter-spacing: 0px;
        color: $col-black;
    }

    h3 {
        font: normal normal 600 36px/45px Source Serif Pro;
        letter-spacing: 0px;
        color: $col-black;
       
    }

    h6 {
        font: normal normal 600 20px/25px Muli;
        letter-spacing: 0px;
        color:$col-black;
        padding-top: 24px;
        padding-bottom: 16px;
    }
}
@media (min-width: 0px) and (max-width: 767px){
    .detail-info {.color .add-sub {
        text-align: center;

    }
    button .cart-add{
        place-items: center;
    }
}
    .main h6,h3{
        text-align: center;
    }
}