//colors

$col-white:#FFFFFF;
$col-black:#172026;
$col-offWhite:#F3F3F3;
$col-Gray:#D1D3D6;
$col-gray2:#B5B7BC;
$col-dark-gray:#181C24;
$col-off-purple:#AF52FF;
$col-lavendor:#7950E8;
$col-dark-skyblue:#4F5ADA;
$col-pista:#57CB76;
$col-off-orange:#EBC250;
$col-orange:#FF8810;
$col-red:#E32F0F;
$col-brown:#BF1919;
$col-pink:#F9009A;
$col-ink-blue:#6408D3;
$col-off-pink:#E34850;
$sky-dark-blue:#336DFF;
$yellowish-brown:#FDBA5E;
$dark-pista:#2D9D78;
$gray-2:#DFE1E2;
$gray-3:#545D63;
$black-2:#1B252C;
$gray-4:#00000033;
$primary-brand:#1F39FF;
$primary-L1:#3D84FF;
$gray-l1:#E5E5E7;
$brown:#FF6F38;
$border-gray:#91959c;
$shadow-gray:#0000000D;
